<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DELETE</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="d-none"><%= JSON.stringify(user) %></div>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a class="" href="/update-user">CREATE</a></li>
    </ul>
    <div class="form-add">
      <form action="/delete-user" method="post">
        <fieldset>
          <legend>Delete user</legend>
          <div class="input-group d-none">
            <label for="">Id: </label>
            <input value="<%=user.id%>" type="text" name="id" />
          </div>
          <div class="input-group">
            <label for="">Are you sure delete this user with Email? </label>
            <input value="<%=user.email%>" type="text" name="email" />
          </div>

          <div>
            <button>Confirm</button>
            <a href="/">Cancel</a>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
