<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UPDATE</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%= JSON.stringify(user)%>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a class="" href="/create">CREATE</a></li>
    </ul>
    <div class="form-add">
      <form action="/create-user" method="post">
        <fieldset>
          <legend>Update user</legend>
          <div class="input-group">
            <label for="">Email: </label>
            <input value="<%=user.email%>" type="text" name="email" />
          </div>
          <div class="input-group">
            <label for="">Name: </label>
            <input value="<%=user.name%>" type="text" name="name" />
          </div>
          <div class="input-group">
            <label for="">City: </label>
            <input value="<%=user.city%>" type="text" name="city" />
          </div>
          <div>
            <button>Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
