<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <ul>
      <li><a class="active" href="default.asp">Home</a></li>
      <li><a href="news.asp">News</a></li>
      <li><a href="contact.asp">Contact</a></li>
      <li><a href="about.asp">About</a></li>
    </ul>
    <div class="form-add">
      <form action="">
        <fieldset>
          <legend>Form add new user</legend>
          <div class="input-group">
            <label for="">Email: </label>
            <input type="text" />
          </div>
          <div class="input-group">
            <label for="">Name: </label>
            <input type="text" />
          </div>
          <div class="input-group">
            <label for="">City: </label>
            <input type="text" />
          </div>
          <div>
            <button>Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
